<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    {% if miFormulario.errors %} 
    
    <p style="color: red;"> Estan mal los datos, revisalos</p>
    
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <!-- Aca esta la magia de Django-->
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">
        
     </form>   
</body>
</html>